.creators {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  max-width: 80%;
  margin: auto;
  -ms-grid-rows: min-content min-content auto auto min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content auto auto -webkit-min-content;
      grid-template-rows: min-content min-content auto auto min-content;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 100px;
          column-gap: 100px;
      grid-template-areas: "back-button-row ." "title subtitle" "main-creators female-line" "male-line tech-team" "line .";
}

.creators p {
  font-size: 23px;
  line-height: 160.5%;
  margin: 0;
}

.creators h1,
.creators h2,
.creators h3,
.creators h4,
.creators h5 {
  margin: 0;
}

.creators span {
  font-family: GaretBold;
  font-size: 28px;
  line-height: 130.5%;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .creators {
    max-width: 90%;
    margin: auto;
    -ms-grid-rows: min-content min-content min-content min-content min-content min-content min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 100px;
            column-gap: 100px;
        grid-template-areas: "title" "subtitle" "main-creators" "female-line" "male-line" "tech-team" "line";
  }
}

.creators .back-button-row {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: back-button-row;
}

.creators .back-button-row .back-button {
  display: inline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: GaretRegular;
  margin-bottom: 5px;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  padding: 10px 15px;
  margin-left: -15px;
}

@media (max-height: 800px) {
  .creators .back-button-row .back-button {
    font-size: 20px;
  }
}

.creators .back-button-row .back-button:hover {
  background-color: #ff2400;
  color: white;
  margin-left: 0;
}

.creators .title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  padding-top: 20px;
  font-size: 41px;
  line-height: 130%;
  font-family: GaretBold;
}

.creators .subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subtitle;
  padding-top: 20px;
  font-size: 25px;
  line-height: 121.5%;
  font-family: RedOctoberBold;
  text-align: center;
  letter-spacing: 0.035em;
  color: #ff2400;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 600px) {
  .creators .subtitle {
    margin-top: -80px;
  }
}

.creators .main-creators {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main-creators;
  padding-top: 40px;
  line-height: 160.5%;
}

.creators .main-creators span {
  font-family: GaretBold;
  margin: 0;
  font-size: 25px;
}

.creators .female-line {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: female-line;
  padding-top: 40px;
}

.creators .female-line .female-line-text {
  margin-top: 10px;
}

.creators .male-line {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: male-line;
}

.creators .male-line .male-line-text {
  margin-top: 10px;
}

.creators .tech-team {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: tech-team;
}

.creators .tech-team .tech-team-text {
  margin-top: 10px;
}

.creators .line {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: line;
  margin-top: -40px;
}

.creators .line hr {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: line;
  height: 0px;
  border: 3px solid #ff2400;
  margin: 0;
}
/*# sourceMappingURL=creators.css.map */