.creators {
  display: grid;
  height: 100vh;
  max-width: 80%;
  margin: auto;
  grid-template-rows: min-content min-content auto auto min-content;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  //   row-gap: 20px;
  grid-template-areas:
    "back-button-row ."
    "title subtitle"
    "main-creators female-line"
    "male-line tech-team"
    "line .";

  p {
    font-size: 23px;
    line-height: 160.5%;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
  span {
    font-family: GaretBold;
    font-size: 28px;
    line-height: 130.5%;
    padding-bottom: 20px;
  }

  @media (max-width: 600px) {
    max-width: 90%;
    margin: auto;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    // grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    column-gap: 100px;
    grid-template-areas:
      "title"
      "subtitle"
      "main-creators"
      "female-line"
      "male-line"
      "tech-team"
      "line";
  }

  .back-button-row {
    grid-area: back-button-row;
    .back-button {
      display: inline;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 20px;
      font-family: GaretRegular;
      margin-bottom: 5px;
      transition: linear 0.2s;
      padding: 10px 15px;
      margin-left: -15px;
      @media (max-height: 800px) {
        font-size: 20px;
      }
    }
    .back-button:hover {
      background-color: #ff2400;
      color: white;
      margin-left: 0;
    }
  }
  .title {
    grid-area: title;
    padding-top: 20px;
    font-size: 41px;
    line-height: 130%;
    font-family: GaretBold;
  }
  .subtitle {
    grid-area: subtitle;
    padding-top: 20px;
    font-size: 25px;
    line-height: 121.5%;
    font-family: RedOctoberBold;
    text-align: center;
    letter-spacing: 0.035em;
    color: #ff2400;
    justify-self: end;
    @media (max-width: 600px) {
      margin-top: -80px;
    }
  }

  .main-creators {
    grid-area: main-creators;
    padding-top: 40px;
    line-height: 160.5%;
    span {
      font-family: GaretBold;
      margin: 0;
      font-size: 25px;
    }
  }
  .female-line {
    grid-area: female-line;
    padding-top: 40px;

    .female-line-text {
      margin-top: 10px;
    }
  }
  .male-line {
    grid-area: male-line;
    .male-line-text {
      //   line-height: 130.5%;
      margin-top: 10px;
    }
  }
  .tech-team {
    grid-area: tech-team;
    .tech-team-text {
      margin-top: 10px;
    }
  }
  .line {
    grid-area: line;
    margin-top: -40px;
    hr {
      grid-area: line;
      height: 0px;
      border: 3px solid #ff2400;
      margin: 0;
    }
  }
}
