.wrapper-map {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.wrapper-map .back-button {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  left: 50px;
  border: 1px solid #ababab;
  padding: 10px 15px;
  background-color: #c2e3ff;
  border-radius: 5px;
}

.wrapper-map .questions {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-map .questions .add-button {
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  color: #ababab;
}

.wrapper-map .questions .add-button:hover svg line {
  color: rgba(19, 95, 216, 0.5);
}

.wrapper-map .questions .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}

.wrapper-map .questions .question .upper h2 button {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 800;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #cacaca;
  padding-bottom: 0;
}

.wrapper-map .questions .question .upper h2 button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: black;
}

.wrapper-map .questions .question .upper h2 p {
  font-size: 15px;
  margin: 0;
  padding-left: 10px;
  color: #6cd13d;
}

.wrapper-map .questions .question .buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: left;
      justify-self: left;
}

.wrapper-map .questions .question .buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
}

.wrapper-map .questions .question .buttons button:hover svg path {
  fill: rgba(26, 110, 246, 0.5);
}

.wrapper-map .questions .question .buttons button:hover:nth-child(2) svg path {
  fill: rgba(246, 33, 26, 0.65);
}

.wrapper-map .questions .question .buttons svg {
  height: 30px;
  width: 25px;
}

.wrapper-map .questions .question .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-map .questions .question .options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

.wrapper-map .questions .question .options .option span {
  border-radius: 50px;
  color: white;
  padding: 5px;
}

.wrapper-map .questions .question .options .option .win {
  background-color: green;
}

.wrapper-map .questions .question .options .option .lose {
  background-color: red;
}
/*# sourceMappingURL=question-map.css.map */