.options-choose-sex {
  .question {
    font-size: 30px;
    font-family: GaretRegular;
    @media (max-height: 1000px) {
      font-size: 24px;
    }
  }

  .options {
    border: 3px solid black;

    .choose-images {
      display: flex;
      justify-content: space-evenly;
      z-index: 120;
      height: 45vh;
      button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
      }
      .option {
        width: auto;
        height: auto;
        display: flex;

        border: 3px solid black;
        margin: 20px 0;
        transition: 0.3s;
        position: relative;

        .rect1 {
          position: absolute;
          width: 3em;
          height: 3em;
          top: 0;
          left: 0;
          margin-top: -1em;
          margin-left: -1em;
          border-top: 1px solid black;
          border-left: 1px solid black;
        }
        .rect2 {
          position: absolute;
          width: 3em;
          height: 3em;
          top: 0;
          right: 0;
          // background-color: rgb(185, 185, 185);
          margin-top: -1em;
          margin-right: -1em;
          border-top: 1px solid black;
          border-right: 1px solid black;
        }
        .rect3 {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 2em;
          height: 3em;
          // background-color: rgb(185, 185, 185);
          margin-bottom: -1em;
          margin-left: -1em;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
        }
        .rect4 {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 2em;
          height: 3em;
          // background-color: rgb(185, 185, 185);
          margin-bottom: -1em;
          margin-right: -1em;
          border-bottom: 1px solid black;
          border-right: 1px solid black;
        }

        .number {
          position: absolute;
          font-family: GaretBold;
          font-size: 60px;
        }

        .headImageChoose {
          //   width: 470px;
          //   height: 460px;
          //   min-width: 100%;
          //   min-height: 100%;
          max-width: 100%;
          max-height: 90%;
          align-self: flex-end;
        }
      }
      button:nth-child(1) {
        .headImageChoose {
          margin-left: -24px;
          align-self: flex-end;

          @media (max-height: 1000px) {
            margin-left: -18px;
          }
        }
      }
      button:nth-child(2) {
        .number {
          margin-left: 30px;
        }
      }
    }

    .active {
      border: 3px solid rgb(240, 61, 16) !important;
      transform: scale(1.02);
    }
    .option:hover {
      border: 3px solid rgb(240, 61, 16);
      //   background-color: rgba(235, 235, 235, 0.35);
      //   box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
      transform: scale(1.02);
    }
    // .active:hover {
    //   border: 3px solid rgb(240, 61, 16);
    //   transform: scale(1.02);
    // }
    .option:nth-child(2) {
      .circle {
        margin-left: 8em;
        margin-top: 7em;
      }
      .headImage {
        // margin-right: 40px;
      }
    }
    .option:nth-child(1) {
      padding-left: 0;
      margin-right: -5em;
      .circle {
        margin-left: -1em;
        margin-top: 8em;
      }
      .number {
        padding-left: 30px;
      }
    }
  }
}
.hidden {
  display: none;
}

.alert-enter {
  opacity: 0;
  //   transform: scale(0.95);
  //   transform: translateX(50%);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
  //   transform: translateX(0);
}
.alert-exit-active {
  opacity: 0;
  //   transform: scale(0.95);
  //   transform: translateX(-50%);
  transition: opacity 300ms, transform 300ms;
}

.main {
  grid-area: main;
  height: 98%;
  //   margin-bottom: 300px;
  align-items: end;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-areas: "question image";
  gap: 0;
  justify-content: space-between;
  overflow-y: auto;
  //   overflow: visible;
  overflow-x: visible;
  padding-left: 50px;
  margin-left: -50px;

  @media (max-height: 1000px) {
    grid-template-columns: 65% 35%;
  }
  .question {
    display: flex;
    flex-direction: column;
    // margin-bottom: 30px;
    grid-area: question;

    .question-text {
      font-family: GaretRegular;
      font-weight: 200;
      h2 {
        font-size: 30px;
        height: 100%;
        @media (min-width: 2500px) {
          font-size: 50px;
        }
        @media (max-width: 2000px) {
          font-size: 25px;
        }
        @media (max-width: 1600px) {
          font-size: 30px;
        }
        @media (max-width: 1400px) {
          font-size: 20px;
        }
        @media (max-height: 900px) {
          font-size: 20px;
          margin: 0;
        }
      }
    }
    .small-text {
      h2 {
        font-size: 30px;
      }
    }

    .down-line {
      hr {
        height: 3px;
        border: none;
        color: black;
        background-color: black;
      }
    }
    .lose-screen {
      .announcement {
        h2 {
          font-size: 50px;
          font-family: GaretBold;
        }
      }

      .achievements {
      }
    }

    .options {
      .option-container {
        text-align: left;
        margin: 20px 0;
        display: flex;
        .next-option-testing {
          color: grey;
          font-size: 0.7em;
        }
        .option {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-family: GaretRegular;
          //   padding: 15px 25px;
          padding: 0;
          border: 3px solid rgb(0, 0, 0);
          background-color: transparent;
          color: rgb(0, 0, 0);
          margin-right: 20px;
          min-height: 6rem;
          width: 100%;
          // transition-duration: 0.4s;
          font-size: 18px;
          text-align: left;
          cursor: pointer;
          margin-bottom: 15px;
          transition: 0.25s;

          .option-img {
            // margin: -15px -25px;
            align-self: center;
            width: 100%;
          }

          @media (min-width: 2500px) {
            font-size: 26px;
          }
          @media (max-width: 1400px) {
            font-size: 15px;
          }

          .text {
            margin: 10px 16px;
            .header {
              display: flex;
              gap: 12px;
              margin-bottom: 10px;
              @media (max-width: 1400px) {
                gap: 20px;
              }
              .number {
                display: flex;
                font-family: GaretBold;
                font-size: 50px;
                justify-content: start;
                @media (max-width: 1400px) {
                  font-size: 40px;
                }
              }
              .highlighted {
                font-family: GaretBold;
                margin-top: 16px;
                line-height: 110%;
              }
            }

            .option-text {
              margin: 0;
              line-height: 126%;
              font-size: 17px;
            }
          }
        }
        .active {
          border: 3px solid rgb(240, 61, 16);
          transform: scale(1.04);
        }
        .option:hover {
          border: 3px solid rgb(240, 61, 16);
          //   background-color: rgba(235, 235, 235, 0.35);
          //   box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
          transform: scale(1.04);
        }
        .active:hover {
          border: 3px solid rgb(240, 61, 16);
          transform: scale(1.04);
        }
      }
    }
  }

  .arrows {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    .arrow {
      margin-bottom: 20px;
      @media (max-height: 1000px) {
        height: 110px;
      }
    }
    // @media (max-width: 1600px) {
    //   .arrow:nth-child(2) {
    //     display: none;
    //   }
    // }
    .arrow:nth-child(2) {
      margin-bottom: 0;
      //   display: none;
    }
  }

  .image {
    max-height: 100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    align-self: center;
    // overflow: hidden;
    .img-container {
      height: 100%;
      width: 100%;
      overflow: hidden;
      .headImage {
        width: 100%;
        // max-width: 100%;
        // max-height: 2rem;

        // height: 100%;
        margin: 0 auto;
        display: block;
        object-fit: contain;
        object-position: 0 15%;
        //   filter: grayscale(80%);
      }
      @media (min-width: 2500px) {
        .headImage {
          max-width: 100%;
        }
      }

      @media (min-width: 1955px) {
        .headImage {
          max-width: 80%;
        }
      }
      // @media (min-width: 2220px) {
      //   .headImage {
      //     max-width: 70%;
      //   }
      // }
      //   @media (max-height: 1000px) {
      //     max-width: 75%;
      //     //   max-height: 3rem;
      //   }
      // @media (min-width: 2660px) {
      //   .headImage {
      //     max-width: 60%;
      //   }
      // }

      .img-ref {
        text-align: center;
        a {
          color: black;
        }
      }
    }
  }
  .image-down {
    align-self: end;
  }

  .info-link {
    // color: rgba(32, 119, 134, 0.95);
    // text-decoration: underline;
    color: rgb(240, 61, 16);
    cursor: help;
    transition: all 0.2s ease-in-out;
  }
}

.main-multiple {
  align-items: start;
}

.main-small-options {
  grid-template-columns: 45% 55%;
}
// .main:after {
//   content: "";
//   display: table;
//   clear: both;
// }
