@font-face {
  font-family: GaretBold;
  src: url("../../../src/fonts/Garet-Heavy.woff") format("woff");
}
@font-face {
  font-family: RedOctoberRegular;
  src: url("../../../src/fonts/redoctober.ttf") format("ttf");
}
@font-face {
  font-family: RedOctoberBold;
  src: url("../../../src/fonts/redoctober_fat.ttf");
}

.game-page {
  .rules {
    max-width: 80%;
    padding: 5rem 0;
    margin: 0 auto;
    display: grid;
    height: calc(100vh - 10rem);
    grid-template-rows: min-content 5% 4fr;
    grid-template-areas:
      "upper-part"
      "hr"
      "description";
    .upper-part {
      grid-area: upper-part;
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      gap: 4rem;
      .years {
        div {
          font-size: 70px;
          margin: 0;
          line-height: 90%;
          letter-spacing: -0.03em;
        }
        p {
          font-size: 30px;
          line-height: 41px;
          text-align: end;
        }
      }
      .title {
        font-size: 80px;
        line-height: 121.5%;
        text-align: center;
        letter-spacing: 0.035em;
        font-family: RedOctoberBold;
      }
      .start-button {
        text-align: center;
        margin-top: 20px;
        button {
          background-color: transparent;
          border: none;
          padding: 20px 40px;
          cursor: pointer;
          background: linear-gradient(to right, black 2px, transparent 2px) 0 0,
            linear-gradient(to right, black 2px, transparent 2px) 0 100%,
            linear-gradient(to left, black 2px, transparent 2px) 100% 0,
            linear-gradient(to left, black 2px, transparent 2px) 100% 100%,
            linear-gradient(to bottom, black 2px, transparent 2px) 0 0,
            linear-gradient(to bottom, black 2px, transparent 2px) 100% 0,
            linear-gradient(to top, black 2px, transparent 2px) 0 100%,
            linear-gradient(to top, black 2px, transparent 2px) 100% 100%;
          background-repeat: no-repeat;
          background-size: 40px 20px;
        }
        p {
          text-align: center;
          font-size: 17px;
        }
      }
    }

    .hr {
      grid-area: hr;
      height: 13px;
      border: none;
      background-color: black;
      margin: 0;
    }

    .description {
      grid-area: description;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      .left {
        display: grid;
        grid-template-rows: min-content;
        grid-template-areas:
          "h3"
          "p"
          "creators"
          "down";

        .alert-enter {
          opacity: 0;
          transform: scale(0.9);
        }
        .alert-enter-active {
          opacity: 1;
          transform: translateX(0);
          transition: opacity 600ms, transform 600ms;
        }
        .alert-exit {
          opacity: 1;
        }
        .alert-exit-active {
          opacity: 0;
          transform: scale(0.9);
          transition: opacity 300ms, transform 300ms;
        }
        h3 {
          grid-area: h3;
          font-family: GaretBold;
          font-size: 40px;
          margin: 0;
        }
        p {
          grid-area: p;
          font-size: 27px;
          line-height: 130%;
          //   text-align: justify;
        }

        .down {
          grid-area: down;
          align-self: end;
          .small-hr {
            height: 13px;
            border: none;
            background-color: black;
            margin: 0;
          }

          .creators {
            grid-area: creators;
            display: inline;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 25px;
            font-family: GaretRegular;
            margin-bottom: 5px;
            transition: linear 0.2s;
            padding: 15px;
            margin-left: -15px;
          }
          .creators:hover {
            background-color: #ff2400;
            color: white;
            margin-left: 0;
          }
        }
      }
      .right {
        font-size: 27px;
        line-height: 130%;
        align-self: end;
        text-align: justify;
        letter-spacing: -0.02em;
        .red {
          font-family: GaretBold;
          border: 6px solid #ff2400;
          padding: 30px;
        }
      }
    }
  }
}
