@font-face {
  font-family: GaretBold;
  src: url("../../../src/fonts/Garet-Heavy.woff") format("woff");
}

@font-face {
  font-family: GaretRegular;
  src: url("../../../src/fonts/Garet-Book.woff") format("woff");
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: GaretRegular;
}

.game-page {
  height: 100%;
}

.game-page .wrapper {
  max-width: 85%;
  margin: auto;
}

.game-page .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "timeline" "controls" "line" "question-number" "main";
}

.game-page .container .timeline {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: timeline;
  height: 80px;
  margin-bottom: 10px;
  background-color: #d6d6d6;
}

.game-page .container .controls {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: controls;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "infos year next";
  text-align: center;
}

.game-page .container .controls .infos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: infos;
  font-family: GaretBold;
  border: 1px solid black;
  text-align: left;
  padding: 20px;
  margin: 30px;
  margin-left: 0;
}

.game-page .container .controls .infos .info {
  margin-bottom: 15px;
  cursor: pointer;
}

.game-page .container .controls .year {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: year;
  font-family: GaretBold;
  font-style: normal;
  font-weight: 850;
  font-size: 173px;
  line-height: 251px;
  margin-top: -20px;
}

.game-page .container .controls .year p {
  font-family: GaretRegular;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 20px;
  margin: -40px 0 20px 0;
}

.game-page .container .controls .next {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: next;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.game-page .container .controls .next .next-button {
  border: none;
  width: 240px;
  height: 129px;
  font-size: 100px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.game-page .container .controls .next p {
  font-size: 23px;
}

.game-page .container .line {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: line;
}

.game-page .container .line hr {
  height: 15px;
  border: none;
  color: black;
  background-color: black;
}

.game-page .container .question-number {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: question-number;
  font-size: 28px;
}

.game-page .container .main {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 63% 30%;
      grid-template-columns: 63% 30%;
      grid-template-areas: "question image";
  gap: 7%;
}

.game-page .container .main .question {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: question;
}

.game-page .container .main .question .options .option-container {
  text-align: left;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-page .container .main .question .options .option-container .next-option-testing {
  color: grey;
  font-size: 0.7em;
}

.game-page .container .main .question .options .option-container .option {
  font-family: GaretRegular;
  padding: 15px 25px;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  margin-right: 20px;
  min-height: 6rem;
  width: 100%;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-transition: 0.12s;
  transition: 0.12s;
}

.game-page .container .main .question .options .option-container .active {
  border: 2px solid black;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.game-page .container .main .question .options .option-container .option:hover {
  border: 2px solid black;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.game-page .container .main .question .options .option-container .active:hover {
  border: 2px solid black;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.game-page .container .main .image {
  margin: 0.83em auto 0 auto;
  border-radius: 8px;
}

.game-page .container .main .image .headImage {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 15%;
     object-position: 0 15%;
  width: 1100px;
  height: 350px;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.game-page .container .main .image .img-container .img-ref a {
  color: black;
}

.game-page .container .main .info-link {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*# sourceMappingURL=style.css.map */