@font-face {
  font-family: GaretBold;
  src: url("../../../src/fonts/Garet-Heavy.woff") format("woff");
}

@font-face {
  font-family: RedOctoberRegular;
  src: url("../../../src/fonts/redoctober.ttf") format("ttf");
}

@font-face {
  font-family: RedOctoberBold;
  src: url("../../../src/fonts/redoctober_fat.ttf");
}

.game-page .rules {
  max-width: 80%;
  padding: 5rem 0;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  height: calc(100vh - 10rem);
  -ms-grid-rows: min-content 5% 4fr;
      grid-template-rows: -webkit-min-content 5% 4fr;
      grid-template-rows: min-content 5% 4fr;
      grid-template-areas: "upper-part" "hr" "description";
}

.game-page .rules .upper-part {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: upper-part;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  gap: 4rem;
}

.game-page .rules .upper-part .years div {
  font-size: 60px;
  margin: 0;
  line-height: 90%;
  letter-spacing: -0.03em;
}

@media (max-width: 1400px) {
  .game-page .rules .upper-part .years div {
    font-size: 40px;
  }
}

.game-page .rules .upper-part .years p {
  font-size: 25px;
  line-height: 41px;
  text-align: start;
}

@media (max-width: 1400px) {
  .game-page .rules .upper-part .years p {
    font-size: 20px;
    line-height: 30px;
  }
}

.game-page .rules .upper-part .title {
  font-size: 80px;
  line-height: 121.5%;
  text-align: center;
  letter-spacing: 0.035em;
  font-family: RedOctoberBold;
}

@media (max-width: 1900px) {
  .game-page .rules .upper-part .title {
    font-size: 60px;
  }
}

@media (max-width: 1400px) {
  .game-page .rules .upper-part .title {
    font-size: 50px;
  }
}

.game-page .rules .upper-part .start-button {
  text-align: center;
  margin-top: 20px;
}

.game-page .rules .upper-part .start-button button {
  background-color: transparent;
  border: none;
  padding: 20px 40px;
  cursor: pointer;
  background: linear-gradient(to right, black 2px, transparent 2px) 0 0, linear-gradient(to right, black 2px, transparent 2px) 0 100%, linear-gradient(to left, black 2px, transparent 2px) 100% 0, linear-gradient(to left, black 2px, transparent 2px) 100% 100%, linear-gradient(to bottom, black 2px, transparent 2px) 0 0, linear-gradient(to bottom, black 2px, transparent 2px) 100% 0, linear-gradient(to top, black 2px, transparent 2px) 0 100%, linear-gradient(to top, black 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 40px 20px;
}

.game-page .rules .upper-part .start-button p {
  text-align: center;
  font-size: 17px;
}

.game-page .rules .hr {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hr;
  height: 13px;
  border: none;
  background-color: black;
  margin: 0;
}

.game-page .rules .description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.game-page .rules .description .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
      grid-template-areas: "h3" "p" "creators" "down";
}

.game-page .rules .description .left .alert-enter {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.game-page .rules .description .left .alert-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 600ms, -webkit-transform 600ms;
  transition: opacity 600ms, -webkit-transform 600ms;
  transition: opacity 600ms, transform 600ms;
  transition: opacity 600ms, transform 600ms, -webkit-transform 600ms;
}

.game-page .rules .description .left .alert-exit {
  opacity: 1;
}

.game-page .rules .description .left .alert-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.game-page .rules .description .left h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: h3;
  font-family: GaretBold;
  font-size: 40px;
  margin: 0;
}

.game-page .rules .description .left p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p;
  font-size: 27px;
  line-height: 130%;
}

.game-page .rules .description .left .down {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: down;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.game-page .rules .description .left .down .small-hr {
  height: 13px;
  border: none;
  background-color: black;
  margin: 0;
}

.game-page .rules .description .left .down .creators-button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: creators;
  display: inline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: GaretRegular;
  margin-bottom: 5px;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  padding: 15px;
  margin-left: -15px;
}

.game-page .rules .description .left .down .creators-button:hover {
  background-color: #ff2400;
  color: white;
  margin-left: 0;
}

.game-page .rules .description .right {
  font-size: 27px;
  line-height: 130%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: justify;
  letter-spacing: -0.02em;
}

.game-page .rules .description .right .red {
  font-family: GaretBold;
  border: 6px solid #ff2400;
  padding: 30px;
}
/*# sourceMappingURL=rules.css.map */