.buttons {
  display: flex;
}

.headImage {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.question {
  background-color: rgb(226, 226, 226);
  margin: 0 30px;
}

.question h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}

.options {
}

/* .btn {
  display: inline-block;
} */
