body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-family: Helvetica, sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100vh;
  width: 100%;
  background: url(./images/main-background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  max-width: 85%;
  margin: auto;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 74% 6%;
      grid-template-columns: 20% 74% 6%;
      grid-template-areas: "info-entries card next";
  max-height: 90vh;
}

.container .close-btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 90px;
  height: 4rem;
  max-height: 40px;
  background-color: #d4d4d4;
  justify-self: center;
  border: none;
  cursor: pointer;
  font-size: 1.7em;
  grid-area: close;
  margin-left: 5px;
}

.container .info-entries {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info-entries;
  height: 90vh;
  overflow-y: auto;
  /*frosted glass style*/
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-right: 7px;
  border-radius: 10px;
}

.container .info-entries .single-period .period-btn {
  background-color: rgba(197, 101, 101, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-align: center;
  width: 100%;
  height: 3.5rem;
  max-height: 90px;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
  margin: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 8px;
  margin-bottom: 2px;
}

.container .info-entries .single-period .period-btn:hover {
  background-color: rgba(233, 135, 135, 0.55);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.container .info-entries .info-single-entry .info-btn {
  background-color: rgba(118, 203, 218, 0.85);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-bottom: 2px;
  padding: 12px 20px 12px 20px;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  max-height: 4.5rem;
  border: none;
  cursor: pointer;
  margin: none;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 8px;
}

.container .info-entries .info-single-entry .active-entry {
  background-color: #d4d4d4;
  background-color: rgba(182, 244, 255, 0.65);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.container .info-entries .info-single-entry .active-entry:hover {
  background-color: rgba(182, 244, 255, 0.65);
}

.container .info-entries .info-btn:hover {
  background-color: rgba(166, 223, 233, 0.65);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.info {
  grid-area: info;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.info .close-icon {
  text-align: right;
}

.info .info-text p {
  text-align: center;
  font-size: 20px;
}

.next {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: next;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  height: 90vh;
}

.next .next-button {
  background-color: #757575;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 90%;
  max-width: 90px;
  height: 3.5rem;
  max-height: 90px;
  font-size: 3em;
  border: none;
  cursor: pointer;
  background-color: rgba(159, 255, 207, 0.65);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.next .next-button:hover {
  background-color: rgba(147, 255, 201, 0.55);
}

.next .question-number {
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 80%;
  max-width: 90px;
  height: 4rem;
  max-height: 90px;
  justify-self: center;
  font-size: 1.6em;
  background-color: rgba(3, 3, 3, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5px;
}

.card {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 20px 20px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.card .info-link {
  color: rgba(32, 119, 134, 0.95);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card .info-link:hover {
  color: rgba(61, 151, 167, 0.95);
}

.card .id-testing {
  color: grey;
  font-size: 0.7em;
  margin-left: 30px;
}

.card .spinner {
  font-size: 13rem;
  color: rgba(108, 188, 202, 0.35);
  text-align: center;
  width: 100%;
  margin: auto;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.card .current-info {
  margin: 0 20px 0 20px;
  border-radius: 10px;
}

.card .current-info .infoName h2 {
  margin: 0 0 10px 0;
}

.card .img-container {
  margin: 0 auto;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.card .img-container .headImage {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 15%;
     object-position: 0 15%;
  width: 1100px;
  height: 450px;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.card .img-ref {
  text-align: center;
  width: 100%;
  margin: 6px 0 20px 0;
}

.card .img-ref a {
  text-decoration: none;
  color: #626262;
  font-size: 0.7em;
}

.card .info-text p {
  white-space: pre-wrap;
  font-size: 1.5rem;
}

.card .close-info {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 15px 0 0;
}

.card .close-info button {
  width: 3em;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2rem;
  text-align: right;
  padding: 0;
}

.card .close-info button i {
  font-size: 2em;
  color: rgba(138, 138, 138, 0.85);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.card .close-info button i:hover {
  color: rgba(197, 38, 38, 0.85);
}

.card h2 {
  padding: 20px 20px;
  text-transform: none;
  font-size: 36px;
}

.card p {
  padding: 0 40px 20px 40px;
  font-size: 19px;
}

.card .loseScreen {
  margin: 10px 30px;
  padding: 10px;
  text-align: center;
}

.card .loseScreen h5 {
  font-size: 2rem;
  font-weight: 200;
  text-transform: none;
}

.card .loseScreen h4 {
  font-size: 2rem;
  font-weight: 200;
  text-transform: none;
}

@media only screen and (max-width: 600px) {
  .container {
        grid-template-areas: "info next" "card card";
  }
  body {
    background-color: lightblue;
  }
  .card {
    padding: 20px 10px;
  }
  h2 {
    font-size: 5px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: #1d1d1d;
  text-transform: capitalize;
}

.year {
  text-align: center;
  max-width: 8em;
  margin: 0 auto;
  font-size: 1.6em;
  padding: 10px 15px 15px 15px;
  margin-bottom: 20px;
  background-color: rgba(180, 180, 180, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10% 10% 50% 50%;
  -webkit-box-shadow: 0 8px 60px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 60px rgba(0, 0, 0, 0.3);
}

.options {
  margin: 0 30px;
}

.options .option-container {
  text-align: left;
  margin: 20px 0;
}

.options .option-container .next-option-testing {
  color: grey;
  font-size: 0.7em;
}

.options .option-container .option {
  padding: 15px 25px;
  border: none;
  background-color: transparent;
  color: black;
  margin-right: 20px;
  min-height: 6rem;
  width: 100%;
  border-bottom: 1px solid grey;
  font-size: 1.25rem;
  text-align: left;
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 7px;
}

.options .option-container .active {
  background-color: rgba(205, 236, 224, 0.75);
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
}

.options .option-container .option:hover {
  background-color: rgba(235, 235, 235, 0.35);
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
}

.options .option-container .active:hover {
  background-color: rgba(205, 236, 224, 0.75);
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
}

.question {
  margin: 0 30px;
}

.question h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  margin: 0;
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  background-color: rgba(146, 146, 146, 0.55);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  background-color: rgba(93, 93, 93, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
/*# sourceMappingURL=style.css.map */